<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>

<body>
    <style>
          body {


background-image: url("ww.webp");

div.second {
  opacity: 0.1;
}

background-repeat: no-repeat;
background-position: center;
margin-right: 0px;
margin-left:0px;
max-resolution: 100px;
 background-image: linear-gradient(to left, black 10%, white 70%),
            url('static/ww.webp');
            background-image: linear-gradient(to left, white 10%, black 100%),
            url('static/ww.webp');
background-attachment:fixed;
background-blend-mode:darken;
}
    </style>
     <img src="static/bsflogo.png" class="float-left" alt="Paris" width="120" height="120">
        <img src="static/robolution.png" class="float-right" alt="Paris" width="150" height="100">
<center>
        <h2 style="color:white">Central Helpline Number for corona-virus: - +91-11-23978046</h2>
        <p style="color:white">
            Helpline Numbers of States & Union Territories (UTs)
            S.</p></center>
        <form>
            <div class="form-group" style="margin-top;:1cm;margin-left:5cm;margin-right:5cm;">
                <label for="sel1"><h3 style="color:white;font-style:20;margin-top:1cm;font-family: serif;"> Select State :</h3></label>
                <select class="form-control" id="sel1">
                    <option>Select-</option>
                    <option>Andhra Pradesh</option>
                    <option>Assam</option>
                    <option>Andhra Pradesh</option>
                    <option>Arunachal Pradesh</option>
                    <option>bihar</option>
                    <option>Chhattisgarh</option>
                    <option>Goa</option>
                    <option>Gujrat</option>
                    <option>Haryana</option>
                    <option>jharkhand</option>
                    <option>karnakataka</option>
                    <option>Kerala</option>
                    <option>Madhya Pradesh</option>
                    <option>Manipur</option>
                    <option>Meghalaya</option>
                    <option>Mizoram</option>
                    <option>Nagaland</option>
                    <option>Odisha</option>
                    <option>Punjab</option>
                    <option>Rajasthan</option>
                    <option>Sikkim</option>
                    <option>Tamil Nadu</option>
                    <option>Uttarakhand</option>
                    <option>UttarPradesh</option>
                    <option>West Bengal</option>
                </select>
            </div>
        </form>
        <div class="container"style="color:white">
            
            <table class="table"style="color:white">
                <thead class="thead-dark">
                    <tr>
                        <th>serial no.</th>
                        <th>Name of the State</th>
                        <th>Helpline nos.</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1.</td>
                        <td>Andhra Pradesh</td>
                        <td>0866-2410978</td>
                    </tr>
                    <tr>
                        <td>2.</td>
                        <td>Arunachal Pradesh</td>
                        <td>9436055743</td>
                    </tr>
                    <tr>
                        <td>3.</td>
                        <td>Assam</td>
                        <td>691334770</td>
                    </tr>
                    <tr>
                        <td>4.</td>
                        <td>bihar</td>
                        <td>104</td>
                    </tr>

                    <tr>
                        <td>5.</td>
                        <td>Chhattisgarh</td>
                        <td>104</td>
                    </tr>
                    <tr>
                        <td>6.</td>
                        <td>Goa</td>
                        <td>104</td>
                    </tr>
                    <tr>
                        <td>7.</td>
                        <td>Gujrat</td>
                        <td>104</td>
                    </tr>
                    <tr>
                        <td>8.</td>
                        <td>Haryana</td>
                        <td>8558893911</td>
                    </tr>
                    <tr>
                        <td>9.</td>
                        <td>jharkhand</td>
                        <td>104</td>
                    </tr>
                    <tr>
                        <td>10.</td>
                        <td>karnakataka</td>
                        <td>104</td>
                    </tr>
                    <tr>
                        <td>11.</td>
                        <td>kerala</td>
                        <td>04712552056</td>
                    </tr>
                    <tr>
                        <td>12.</td>
                        <td>Madhya Pradesh</td>
                        <td>104</td>
                    </tr>
                    <tr>
                        <td>13.</td>
                        <td>Maharashtra</td>
                        <td>020-26127394</td>
                    </tr>
                    <tr>
                        <td>14.</td>
                        <td>Manipur</td>
                        <td>3852411668</td>
                    </tr>
                    <tr>
                        <td>15.</td>
                        <td>Meghalaya</td>
                        <td>108</td>
                    </tr>
                    <tr>
                        <td>16.</td>
                        <td>Mizoram</td>
                        <td>102</td>
                    </tr>
                    <tr>
                        <td>17.</td>
                        <td>Nagaland</td>
                        <td>7005539653</td>
                    </tr>
                    <tr>
                        <td>18.</td>
                        <td>Odisha</td>
                        <td>9439994859 </td>
                    </tr>
                    <tr>
                        <td>19.</td>
                        <td>Punjab</td>
                        <td>104</td>
                    </tr>
                    <tr>
                        <td>20.</td>
                        <td>Rajasthan</td>
                        <td>0141-2225624</td>

                    </tr>
                    <tr>
                        <td>21.</td>
                        <td>Sikkim</td>
                        <td>104</td>

                    </tr>

                    <tr>
                        <td>22.</td>
                        <td>Tamil Nadu</td>
                        <td>044-29510500</td>

                    </tr>
                    <tr>

                        <td>23.</td>
                        <td>Uttarakhand</td>
                        <td>104</td>

                    </tr>
                    <tr>

                        <td>24.</td>
                        <td>Uttar Pradesh</td>
                        <td>18001805145</td>
                    </tr>
                    <tr>
                        <td>25.</td>
                        <td>West Bengal</td>
                        <td>1800313444222,03323412600</td>
                    </tr>
            </table>
            </tbody>
            <table class="table"style="color:white">
                <thead class="thead-dark">
                    <tr>
                        <th>serial no.</th>
                        <th>Name of the union territory</th>
                        <th>Helpline nos.</th>
                    </tr>
                </thead>
                <td>1.</td>
                <td>Andaman and Nicobar islands</td>
                <td>03192-232102</td>
                </tr>
                <td>2.</td>
                <td>Chandigarh</td>
                <td>9779558282</td>
                </tr>
                <td>3.</td>
                <td>Daradr and Nagar Haveli and Daman & Diu</td>
                <td>104</td>
                </tr>
                <td>4.</td>
                <td>Jammu & Kashmir</td>
                <td>0192520982,0194-2440283</td>
                </tr>
                <td>5.</td>
                <td>Ladakh</td>
                <td>01982256462</td>
                </tr>
                <td>6.</td>
                <td>Lakshwadeep </td>
                <td>104</td>
                </tr>
                </tr>
                <td>7.</td>
                <td>Punducherry </td>
                <td>104</td>
                </tr>

                </tbody>
            </table>
        </div>

</body>

</html>