
<html>
    <style>
        * {
            padding: 0;
            margin: 0;
        }

        .chart {
            margin: 200px auto;
            width: 600px;
            height: 600px;
        }
    
        body {


            background-image: url("ww.webp");

            div.second {
                opacity: 0.1;
            }

            background-repeat: no-repeat;
            background-position: center;
            margin-right: 0px;
            margin-left:0px;
            max-resolution: 100px;
            background-image: linear-gradient(to left, black 10%, white 70%),
            url('ww.webp');
            background-image: linear-gradient(to left, white 10%, black 100%),
            url('static/ww.webp');
            background-attachment:fixed;
            background-blend-mode:darken;


        }


        <link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </style>

    <style>
        .serif {
            font-family: "Times New Roman", Times, serif;
        }

        .sansserif {
            font-family: Arial, Helvetica, sans-serif;
        }

        .monospace {
            font-family: "Lucida Console", Courier, monospace;
        }
    </style>


<head>
    
    
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>

<body>
    <img src="static/bsflogo.png" class="float-left" alt="Paris" width="120" height="120">
    <img src="static/robolution.png" class="float-right" alt="Paris" width="150" height="100">
    <section id="state-data" class="site-update">
        <div class="container" style="margin-top:20px;color: aliceblue;">
            <div class="row"style="color: aliceblue;">
                <div class="col-xs-12">
                    <h2><a class="open-table" href="https://www.mohfw.gov.in/" style="margin-top:20px;color: aliceblue;""><br> COVID-19
                            Statewise Status<br> <br></a></h2>
                    <div class="data-table table-responsive" style="display: block;">
                        <table border="1" cellspacing="1" cellpadding="1" class="table table-striped"
                            style="font-weight:bold;color: aliceblue;">
                            <thead>
                                <tr>
                                    <th><strong>S. No.</strong></th>
                                    <th><strong>Name of State / UT</strong></th>
                                    <th><strong>Total Confirmed cases (Including 66 foreign Nationals) </strong></th>
                                    <th><strong>Cured/Discharged/<br>Migrated</strong></th>
                                    <th><strong>Death</strong></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Andhra Pradesh</td>
                                    <td>266</td>
                                    <td>1</td>
                                    <td>3</td>
                                </tr>

                                <tr>
                                    <td>2</td>
                                    <td>Andaman and Nicobar Islands</td>
                                    <td>10</td>
                                    <td>0</td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Arunachal Pradesh</td>
                                    <td>1</td>
                                    <td>0</td>
                                    <td>0</td>
                                </tr>

                                <tr>
                                    <td>4</td>
                                    <td>Assam</td>
                                    <td>26</td>
                                    <td>0</td>
                                    <td>0</td>
                                </tr>

                                <tr>
                                    <td>5</td>
                                    <td>Bihar</td>
                                    <td>32</td>
                                    <td>0</td>
                                    <td>1</td>
                                </tr>

                                <tr>
                                    <td>6</td>
                                    <td>Chandigarh</td>
                                    <td>18</td>
                                    <td>0</td>
                                    <td>0</td>
                                </tr>

                                <tr>
                                    <td>7</td>
                                    <td>Chhattisgarh</td>
                                    <td>10</td>
                                    <td>8</td>
                                    <td>0</td>
                                </tr>

                                <tr>
                                    <td>8</td>
                                    <td>Delhi</td>
                                    <td>523</td>
                                    <td>19</td>
                                    <td>7</td>
                                </tr>

                                <tr>
                                    <td>9</td>
                                    <td>Goa</td>
                                    <td>7</td>
                                    <td>0</td>
                                    <td>0</td>
                                </tr>

                                <tr>
                                    <td>10</td>
                                    <td>Gujarat</td>
                                    <td>144</td>
                                    <td>22</td>
                                    <td>12</td>
                                </tr>

                                <tr>
                                    <td>11</td>
                                    <td>Haryana</td>
                                    <td>90</td>
                                    <td>25</td>
                                    <td>1</td>
                                </tr>

                                <tr>
                                    <td>12</td>
                                    <td>Himachal Pradesh</td>
                                    <td>13</td>
                                    <td>2</td>
                                    <td>1</td>
                                </tr>

                                <tr>
                                    <td>13</td>
                                    <td>Jammu and Kashmir</td>
                                    <td>109</td>
                                    <td>4</td>
                                    <td>2</td>
                                </tr>
                                <tr>
                                    <td>14</td>
                                    <td>Jharkhand</td>
                                    <td>4</td>
                                    <td>0</td>
                                    <td>0</td>
                                </tr>

                                <tr>
                                    <td>15</td>
                                    <td>Karnataka</td>
                                    <td>151</td>
                                    <td>12</td>
                                    <td>4</td>
                                </tr>

                                <tr>
                                    <td>16</td>
                                    <td>Kerala</td>
                                    <td>327</td>
                                    <td>58</td>
                                    <td>2</td>
                                </tr>

                                <tr>
                                    <td>17</td>
                                    <td>Ladakh</td>
                                    <td>14</td>
                                    <td>10</td>
                                    <td>0</td>
                                </tr>

                                <tr>
                                    <td>18</td>
                                    <td>Madhya Pradesh</td>
                                    <td>165</td>
                                    <td>0</td>
                                    <td>9</td>
                                </tr>

                                <tr>
                                    <td>19</td>
                                    <td>Maharashtra</td>
                                    <td>748</td>
                                    <td>56</td>
                                    <td>45</td>
                                </tr>

                                <tr>
                                    <td>20</td>
                                    <td>Manipur</td>
                                    <td>2</td>
                                    <td>0</td>
                                    <td>0</td>
                                </tr>

                                <tr>
                                    <td>21</td>
                                    <td>Mizoram</td>
                                    <td>1</td>
                                    <td>0</td>
                                    <td>0</td>
                                </tr>

                                <tr>
                                    <td>22</td>
                                    <td>Odisha</td>
                                    <td>21</td>
                                    <td>2</td>
                                    <td>0</td>
                                </tr>

                                <tr>
                                    <td>23</td>
                                    <td>Puducherry</td>
                                    <td>5</td>
                                    <td>1</td>
                                    <td>0</td>
                                </tr>

                                <tr>
                                    <td>24</td>
                                    <td>Punjab</td>
                                    <td>76</td>
                                    <td>4</td>
                                    <td>6</td>
                                </tr>

                                <tr>
                                    <td>25</td>
                                    <td>Rajasthan</td>
                                    <td>288</td>
                                    <td>21</td>
                                    <td>3</td>
                                </tr>

                                <tr>
                                    <td>26</td>
                                    <td>Tamil Nadu</td>
                                    <td>621</td>
                                    <td>8</td>
                                    <td>5</td>
                                </tr>

                                <tr>
                                    <td>27</td>
                                    <td>Telengana</td>
                                    <td>321</td>
                                    <td>34</td>
                                    <td>7</td>
                                </tr>

                                <tr>
                                    <td>28</td>
                                    <td>Tripura</td>
                                    <td>1</td>
                                    <td>0</td>
                                    <td>0</td>
                                </tr>



                                <tr>
                                    <td>29</td>
                                    <td>Uttarakhand</td>
                                    <td>31</td>
                                    <td>5</td>
                                    <td>0</td>
                                </tr>

                                <tr>
                                    <td>30</td>
                                    <td>Uttar Pradesh</td>
                                    <td>305</td>
                                    <td>21</td>
                                    <td>3</td>
                                </tr>

                                <tr>
                                    <td>31</td>
                                    <td>West Bengal</td>
                                    <td>91</td>
                                    <td>13</td>
                                    <td>3</td>
                                </tr>

                                <tr>
                                    <td colspan="2"><strong><span align="centre">Total number of confirmed cases in
                                                India</span></strong></td>
                                    <td align="centre"><strong>4421*</strong></td>
                                    <td>
                                        <strong>326</strong>
                                    </td>
                                    <td>
                                        <strong>114</strong>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="5"><strong>*States wise distribution is subject to further verification
                                            and reconciliation</strong></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <canvas class="my-4 w-100 chartjs-render-monitor" id="myChart" width="535" height="225"
        style="display: block; width: 535px; height: 225px;"></canvas>
</body>
</html>